<header> Ruleta Europea </header>
<body>
    <h1 class="titulo">Puedes elegir numero o color</h1>
    <div class="seleccionado d-flex align-items-center justify-content-around" style="flex-direction: row;">
        <h1 class="titulo">Elige el numero:</h1>
        <h1 class="titulo">Elige el color:</h1>
    </div>
    <div class="elegir d-flex align-items-center justify-content-around" style="flex-direction: row;">
    <div class="numeros">
        <div class="grupo">
        <button type="button" class="btn btn-secondary" (click)="guardarNumero(0)">0</button>
        <button type="button" class="btn btn-secondary" (click)="guardarNumero(1)">1</button>
        <button type="button" class="btn btn-secondary" (click)="guardarNumero(2)">2</button>
        <button type="button" class="btn btn-secondary" (click)="guardarNumero(3)">3</button>    
        <button type="button" class="btn btn-secondary" (click)="guardarNumero(4)">4</button>
        <button type="button" class="btn btn-secondary" (click)="guardarNumero(5)">5</button>
        <button type="button" class="btn btn-secondary" (click)="guardarNumero(6)">6</button>
        <button type="button" class="btn btn-secondary" (click)="guardarNumero(7)">7</button>
        <button type="button" class="btn btn-secondary" (click)="guardarNumero(8)">8</button>
        <button type="button" class="btn btn-secondary" (click)="guardarNumero(9)">9</button>
        <button type="button" class="btn btn-secondary" (click)="guardarNumero(10)">10</button>
        <button type="button" class="btn btn-secondary" (click)="guardarNumero(11)">11</button>
        </div>
        <div class="grupo">
            <button type="button" class="btn btn-secondary" (click)="guardarNumero(12)">12</button>
            <button type="button" class="btn btn-secondary" (click)="guardarNumero(13)">13</button>
            <button type="button" class="btn btn-secondary" (click)="guardarNumero(14)">14</button>
            <button type="button" class="btn btn-secondary" (click)="guardarNumero(15)">15</button>    
            <button type="button" class="btn btn-secondary" (click)="guardarNumero(16)">16</button>
            <button type="button" class="btn btn-secondary" (click)="guardarNumero(17)">17</button>
            <button type="button" class="btn btn-secondary" (click)="guardarNumero(18)">18</button>
            <button type="button" class="btn btn-secondary" (click)="guardarNumero(19)">19</button>
            <button type="button" class="btn btn-secondary" (click)="guardarNumero(20)">20</button>
            <button type="button" class="btn btn-secondary" (click)="guardarNumero(21)">21</button>
            <button type="button" class="btn btn-secondary" (click)="guardarNumero(22)">22</button>
            <button type="button" class="btn btn-secondary" (click)="guardarNumero(23)">23</button>
        </div>
        <div class="grupo">
            <button type="button" class="btn btn-secondary" (click)="guardarNumero(24)">24</button>
            <button type="button" class="btn btn-secondary" (click)="guardarNumero(25)">25</button>
            <button type="button" class="btn btn-secondary" (click)="guardarNumero(26)">26</button>
            <button type="button" class="btn btn-secondary" (click)="guardarNumero(27)">27</button>    
            <button type="button" class="btn btn-secondary" (click)="guardarNumero(28)">28</button>
            <button type="button" class="btn btn-secondary" (click)="guardarNumero(29)">29</button>
            <button type="button" class="btn btn-secondary" (click)="guardarNumero(30)">30</button>
            <button type="button" class="btn btn-secondary" (click)="guardarNumero(31)">31</button>
            <button type="button" class="btn btn-secondary" (click)="guardarNumero(32)">32</button>
            <button type="button" class="btn btn-secondary" (click)="guardarNumero(33)">33</button>
            <button type="button" class="btn btn-secondary" (click)="guardarNumero(34)">34</button>
            <button type="button" class="btn btn-secondary" (click)="guardarNumero(35)">35</button>
        </div>
        <div class="grupo">
            <button type="button" class="btn btn-secondary" (click)="guardarNumero(36)">36</button>
            <button type="button" class="btn btn-secondary" (click)="guardarNumero(37)">37</button>
        </div>
    </div>
        <div class="colores">
            <button type="button" class="btn btn-danger" (click)="guardarColor('rojo')">Rojo</button>
            <button type="button" class="btn btn-dark" (click)="guardarColor('negro')">Negro</button>
            <button type="button" class="btn btn-success" (click)="guardarColor('verde')">Verde</button>
    </div>
    </div>
    <div class="escogido d-flex align-items-center justify-content-around" style="flex-direction: row;">
        <div [hidden]="numeroElegido === null" style="margin-right: 10px; text-align: center;">
            <p style="font-size: 40px; margin-bottom: 10px;">Has escogido el número: {{ numeroElegido }}</p>
            <button class="btn btn-danger" (click)="quitarNumero()" style="font-size: 20px;">Quitar número</button>
        </div>
        <div [hidden]="colorElegido === null" style="margin-left: 10px; text-align: center;">
            <p style="font-size: 40px; margin-bottom: 10px;">Has escogido el color: {{ colorElegido }}</p>
            <button class="btn btn-danger" (click)="quitarColor()" style="font-size: 20px;">Quitar color</button>
        </div>
    </div>
    <br>
    <br>
    <h1 class="boton"><a (click)="girarRuleta()" class="boton" role="button" aria-pressed="true">Gira la Ruleta</a></h1>
    <br>
    <div class="resultados">
        <img #ruleta class="ruleta" id="ruleta" src="../assets/images/ruleta.png" alt="">
        <div class="alert alert-success" role="alert" [hidden]="!mensajeResultado.includes('¡Felicidades! Has ganado con el número.')">
            {{ mensajeResultado }}
            <p>{{ mensajeNumeroRuleta }}</p>
            <p>{{ mensajeColorRuleta }}</p>
        </div>
        <div class="alert alert-success" role="alert" [hidden]="!mensajeResultado.includes('¡Felicidades! Has ganado con el color.')">
            {{ mensajeResultado }}
            <p>{{ mensajeNumeroRuleta }}</p>
            <p>{{ mensajeColorRuleta }}</p>
        </div>        
        <div class="alert alert-danger" role="alert" [style.display]="mensajeResultado === 'Lo siento, no has ganado. Intenta de nuevo.' ? 'block' : 'none'">
            Lo siento, no has ganado. Intenta de nuevo.
            <p>{{ mensajeNumeroRuleta }}</p>
            <p>{{ mensajeColorRuleta }}</p>
        </div>
    </div>
    
    

